<div id="epa-minutal">
    <h1>EPA - Parque Centenario</h1>
    <div id="epa-minutal-date">
        {{ time }}
    </div>

    <div id="epa-minutal-no">
        <span class="datatype">NO</span>
        <span class="data">{{ NO }}</span>
        <span class="unidad">ppb</span>
    </div>

    <div id="epa-minutal-n2">
        <span class="datatype">N2</span>
        <span class="data">{{ N2 }}</span>
        <span class="unidad">ppb</span>
    </div>

    <div id="epa-minutal-nox">
        <span class="datatype">NOX</span>
        <span class="data">{{ NOX }}</span>
        <span class="unidad">ppb</span>
    </div>

    <div id="epa-minutal-co">
        <span class="datatype">CO</span>
        <span class="data">{{ CO }}</span>
        <span class="unidad">ppm</span>
    </div>

    <div id="epa-minutal-pm10">
        <span class="datatype">PM10</span>
        <span class="data">{{ PM10 }}</span>
        <span class="unidad">ug/m3</span>
    </div>

    <div id="epa-minutal-dv">
        <span class="datatype">DV</span>
        <span class="data">{{ DV }}</span>
        <span class="unidad">°</span>
    </div>

    <div id="epa-minutal-vv">
        <span class="datatype">VV</span>
        <span class="data">{{ VV }}</span>
        <span class="unidad">km/h</span>
    </div>

    <div id="epa-minutal-temp">
        <span class="datatype">TEMP</span>
        <span class="data">{{ TEMP }}</span>
        <span class="unidad">°C</span>
    </div>

    <div id="epa-minutal-humedad">
        <span class="datatype">HUMEDAD</span>
        <span class="data">{{ HUMEDAD }}</span>
        <span class="unidad">%</span>
    </div>

    <div id="epa-minutal-presion">
        <span class="datatype">PRESION</span>
        <span class="data">{{ PRESION }}</span>
        <span class="unidad">hPa</span>
    </div>

    <div id="epa-minutal-radiacion">
        <span class="datatype">RADIACION</span>
        <span class="data">{{ RADIACION }}</span>
        <span class="unidad">w/m2</span>
    </div>

    <div id="epa-minutal-lluvia">
        <span class="datatype">LLUVIA</span>
        <span class="data">{{ LLUVIA }}</span>
        <span class="unidad">mm</span>
    </div>
</div>