<div id="epa-minutal">
    <div>
        <div class="epa" id="epa-centenario">
            <h1>Parque Centenario</h1>
            <div id="epa-centenario-minutal-date">
                {{ centenario.time }}
            </div>

            <div id="epa-centenario-minutal-no">
                <span class="datatype">NO</span>
                <span class="data">{{ centenario.NO }}</span>
                <span class="unidad">ppb</span>
            </div>

            <div id="epa-centenario-minutal-n2">
                <span class="datatype">N2</span>
                <span class="data">{{ centenario.N2 }}</span>
                <span class="unidad">ppb</span>
            </div>

            <div id="epa-centenario-minutal-nox">
                <span class="datatype">NOX</span>
                <span class="data">{{ centenario.NOX }}</span>
                <span class="unidad">ppb</span>
            </div>

            <div id="epa-centenario-minutal-co">
                <span class="datatype">CO</span>
                <span class="data">{{ centenario.CO }}</span>
                <span class="unidad">ppm</span>
            </div>

            <div id="epa-centenario-minutal-pm10">
                <span class="datatype">PM10</span>
                <span class="data">{{ centenario.PM10 }}</span>
                <span class="unidad">ug/m3</span>
            </div>

            <div id="epa-centenario-minutal-dv">
                <span class="datatype">DV</span>
                <span class="data">{{ centenario.DV }}</span>
                <span class="unidad">°</span>
            </div>

            <div id="epa-centenario-minutal-vv">
                <span class="datatype">VV</span>
                <span class="data">{{ centenario.VV }}</span>
                <span class="unidad">km/h</span>
            </div>

            <div id="epa-centenario-minutal-radiacion">
                <span class="datatype">RADIACION</span>
                <span class="data">{{ centenario.RADIACION }}</span>
                <span class="unidad">w/m2</span>
            </div>

            <div id="epa-centenario-minutal-lluvia">
                <span class="datatype">LLUVIA</span>
                <span class="data">{{ centenario.LLUVIA }}</span>
                <span class="unidad">mm</span>
            </div>
        </div>

        <div class="epa" id="epa-la-boca">
            <h1>La Boca</h1>
            <div id="epa-la-boca-minutal-date">
                {{ la_boca.time }}
            </div>

            <div id="epa-la-boca-minutal-no">
                <span class="datatype">NO</span>
                <span class="data">{{ la_boca.NO }}</span>
                <span class="unidad">ppb</span>
            </div>

            <div id="epa-la-boca-minutal-n2">
                <span class="datatype">NO2</span>
                <span class="data">{{ la_boca.NO2 }}</span>
                <span class="unidad">ppb</span>
            </div>

            <div id="epa-la-boca-minutal-nox">
                <span class="datatype">NOX</span>
                <span class="data">{{ la_boca.NOX }}</span>
                <span class="unidad">ppb</span>
            </div>

            <div id="epa-la-boca-minutal-co">
                <span class="datatype">CO</span>
                <span class="data">{{ la_boca.CO }}</span>
                <span class="unidad">ppm</span>
            </div>

            <div id="epa-la-boca-minutal-pm10">
                <span class="datatype">PM10</span>
                <span class="data">{{ la_boca.PM10 }}</span>
                <span class="unidad">ug/m3</span>
            </div>

            <div id="epa-la-boca-minutal-dv">
                <span class="datatype">DV</span>
                <span class="data">{{ la_boca.WINDDIRECTION }}</span>
                <span class="unidad">°</span>
            </div>

            <div id="epa-la-boca-minutal-vv">
                <span class="datatype">VV</span>
                <span class="data">{{ la_boca.WINDSPEED }}</span>
                <span class="unidad">km/h</span>
            </div>

            <div id="epa-la-boca-minutal-radiacion">
                <span class="datatype">RADIACION</span>
                <span class="data">{{ la_boca.GLOBALRADIATION }}</span>
                <span class="unidad">w/m2</span>
            </div>

            <div id="epa-la-boca-minutal-uva">
                <span class="datatype">UV-A</span>
                <span class="data">{{ la_boca.UV-A }}</span>
                <span class="unidad"></span>
            </div>

            <div id="epa-la-boca-minutal-lluvia">
                <span class="datatype">LLUVIA</span>
                <span class="data">{{ la_boca.RAIN }}</span>
                <span class="unidad">mm</span>
            </div>

            <div id="epa-la-boca-minutal-temp">
                <span class="datatype">TEMP</span>
                <span class="data">{{ la_boca.TEMPERATURE }}</span>
                <span class="unidad">º</span>
            </div>

            <div id="epa-la-boca-minutal-presion">
                <span class="datatype">PRESION</span>
                <span class="data">{{ la_boca.ATMPRESSURE }}</span>
                <span class="unidad">hPa</span>
            </div>

            <div id="epa-la-boca-minutal-humedad">
                <span class="datatype">HUMEDAD</span>
                <span class="data">{{ la_boca.RELHUMIDITY }}</span>
                <span class="unidad">%</span>
            </div>

            <div id="epa-la-boca-minutal-ozono">
                <span class="datatype">O3</span>
                <span class="data">{{ la_boca.OZON }}</span>
                <span class="unidad"></span>
            </div>


        </div>

        <div class="epa" id="epa-cordoba">
            <h1>Cordoba</h1>
            <div id="epa-cordoba-minutal-date">
                {{ cordoba.time }}
            </div>

            <div id="epa-cordoba-minutal-no">
                <span class="datatype">NO</span>
                <span class="data">{{ cordoba.NO }}</span>
                <span class="unidad">ppb</span>
            </div>

            <div id="epa-cordoba-minutal-n2">
                <span class="datatype">NO2</span>
                <span class="data">{{ cordoba.NO2 }}</span>
                <span class="unidad">ppb</span>
            </div>

            <div id="epa-cordoba-minutal-nox">
                <span class="datatype">NOX</span>
                <span class="data">{{ cordoba.NOX }}</span>
                <span class="unidad">ppb</span>
            </div>

            <div id="epa-cordoba-minutal-co">
                <span class="datatype">CO</span>
                <span class="data">{{ cordoba.CO }}</span>
                <span class="unidad">ppm</span>
            </div>

            <div id="epa-cordoba-minutal-pm10">
                <span class="datatype">PM10</span>
                <span class="data">{{ cordoba.PM10 }}</span>
                <span class="unidad">ug/m3</span>
            </div>

            <div id="epa-cordoba-minutal-dv">
                <span class="datatype">DV</span>
                <span class="data">{{ cordoba.WINDDIRECTION }}</span>
                <span class="unidad">°</span>
            </div>

            <div id="epa-cordoba-minutal-vv">
                <span class="datatype">VV</span>
                <span class="data">{{ cordoba.WINDSPEED }}</span>
                <span class="unidad">km/h</span>
            </div>

            <div id="epa-cordoba-minutal-radiacion">
                <span class="datatype">RADIACION</span>
                <span class="data">{{ cordoba.GLOBALRADIATION }}</span>
                <span class="unidad">w/m2</span>
            </div>

            <div id="epa-cordoba-minutal-uva">
                <span class="datatype">UV-A</span>
                <span class="data">{{ cordoba.UV-A }}</span>
                <span class="unidad"></span>
            </div>

            <div id="epa-cordoba-minutal-lluvia">
                <span class="datatype">LLUVIA</span>
                <span class="data">{{ cordoba.RAIN }}</span>
                <span class="unidad">mm</span>
            </div>

            <div id="epa-cordoba-minutal-temp">
                <span class="datatype">TEMP</span>
                <span class="data">{{ cordoba.TEMPERATURE }}</span>
                <span class="unidad">º</span>
            </div>

            <div id="epa-cordoba-minutal-presion">
                <span class="datatype">PRESION</span>
                <span class="data">{{ cordoba.ATMPRESSURE }}</span>
                <span class="unidad">hPa</span>
            </div>

            <div id="epa-cordoba-minutal-humedad">
                <span class="datatype">HUMEDAD</span>
                <span class="data">{{ cordoba.RELHUMIDITY }}</span>
                <span class="unidad">%</span>
            </div>

            <div id="epa-cordoba-minutal-ozono">
                <span class="datatype">O3</span>
                <span class="data">{{ cordoba.OZON }}</span>
                <span class="unidad"></span>
            </div>


        </div>
        
        
    </div>


</div>