<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>Dashboard EPAs</title>
</head>

<body>
<span id="epa">
        <div id="epa-minutal">
            <div>
                <div class="epa" id="epa-centenario">
                    <h1>Parque Centenario</h1>
                    Cargando datos...
                </div>
                <div class="epa" id="epa-la-boca">
                    <h1>La Boca</h1>
                    Cargando datos...
                </div>
                <div class="epa" id="epa-cordoba">
                    <h1>Cordoba</h1>
                    Cargando datos...
                </div>
            </div>

        </div>
    </span>
</body>
</html>
