<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8"/>
    <SocketStream/>
    <title>Dashboard Cívico</title>
</head>

<body>
    <span id="epa">
        <div id="epa-minutal">
            <h1>EPA - Parque Centenario</h1>
            <div id="epa-minutal-date">
                --
            </div>

            <div id="epa-minutal-no">
                <span class="datatype">NO</span>
                <span class="data">--</span>
                <span class="unidad">ppb</span>
            </div>

            <div id="epa-minutal-n2">
                <span class="datatype">N2</span>
                <span class="data">--</span>
                <span class="unidad">ppb</span>
            </div>

            <div id="epa-minutal-nox">
                <span class="datatype">NOX</span>
                <span class="data">--</span>
                <span class="unidad">ppb</span>
            </div>

            <div id="epa-minutal-co">
                <span class="datatype">CO</span>
                <span class="data">--</span>
                <span class="unidad">ppm</span>
            </div>

            <div id="epa-minutal-pm10">
                <span class="datatype">PM10</span>
                <span class="data">--</span>
                <span class="unidad">ug/m3</span>
            </div>

            <div id="epa-minutal-dv">
                <span class="datatype">DV</span>
                <span class="data">--</span>
                <span class="unidad">°</span>
            </div>

            <div id="epa-minutal-vv">
                <span class="datatype">VV</span>
                <span class="data">--</span>
                <span class="unidad">km/h</span>
            </div>

            <div id="epa-minutal-temp">
                <span class="datatype">TEMP</span>
                <span class="data">--</span>
                <span class="unidad">°C</span>
            </div>

            <div id="epa-minutal-humedad">
                <span class="datatype">HUMEDAD</span>
                <span class="data">--</span>
                <span class="unidad">%</span>
            </div>

            <div id="epa-minutal-presion">
                <span class="datatype">PRESION</span>
                <span class="data">--</span>
                <span class="unidad">hPa</span>
            </div>

            <div id="epa-minutal-radiacion">
                <span class="datatype">RADIACION</span>
                <span class="data">--</span>
                <span class="unidad">w/m2</span>
            </div>

            <div id="epa-minutal-lluvia">
                <span class="datatype">LLUVIA</span>
                <span class="data">--</span>
                <span class="unidad">mm</span>
            </div>
        </div>
    </span>
</body>
</html>
